.git/**
.github/**
.idea/**
.venv/**
.serverless/**
.vscode/**
nginx/**
node_modules/**
venv/**
.pytest_cache/**
.gitignore
.python-version
bitbucket-pipelines.yml
docker-compose.yml
Dockerfile
elastcsearch.md
entrypoint.sh
Makefile
newrelic.ini
package.json
package-lock.json
PAGAR.ME.md
Procfile
public.pgp
pytest.ini
README.md
runtime.txt
setup.cfg
USEFUL.md