STAGE=local
DB_NAME=sheds_db
DB_USER=sheds_user
DB_PASSWORD=sheds_password
DB_HOST=localhost
DB_PORT=55999
DB_TIMEOUT=30
CACHE_LOCATION=localhost:6379/1
CUSTOM_AWS_SECRET_ACCESS_KEY=
DJANGO_SETTINGS_MODULE=config.settings.local